{% extends 'base.html' %}
{% set title = 'Profile Display' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    {% for result, url in profiles %}
        <div class="card" style="width: 18rem;">
            {% if url %}
                <img class="card-img-top" src="{{ url }}" alt="User profile photo">
            {% else %}
                <img class="card-img-top" src="{{ url_for('static', filename='photos/default.png') }}" alt="Default profile photo">
            {% endif %}

            <div class="card-body">
                <h5 class="card-title">{{ result.username }}</h5>
                <h6>{{ result.country }}</h6>
                <p class="card-text">{{ result.bio }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}